@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.logo {
  height: 70vh;
  width: 100vw;
}

.online {
  font-family: "Bebas Neue", cursive;
}


/* media screen max width 935 px */
@media screen and (max-width: 935px) {

}
/* media screen max width 675 px */
@media screen and (max-width: 675px) {

    
}