.title {
  color: #14213d;
  font-size: 70px;
  font-weight: bolder;
  text-decoration: underline;
}

.wording{
  justify-content: center;
  text-align: center;
}

.foot{
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}