.navbar{
    align-items: center;
    background: white;
    margin-top: 0;
    height:2rem;
    width: 100%;
    color:cadetblue;
}
.navbarLinks{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    margin-right:2%;
}

.toggleButton{
    position: absolute;
    top:0.3rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height:30px;
}

.toggleButton .bar{
    height: 7px;
    width: 100%;
    justify-content: space-between;
    background-color: black;
   border-radius: 5px;
}








@media screen and (max-width:600px){

    .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .links .active{
        display: flex;
    }


    .menu{
        display: flex;
    }
}